Package: com.ps.splitit
Name: SplitIt
Depends: firmware (>= 10.0), mobilesubstrate, gsc.ipad
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable keyboard split feature on borderless iPads.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/splitit.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/splitit.json
